<!DOCTYPE html>
<html lang="es">
<head th:replace="layout :: head"></head>
<body>

<section th:replace="layout :: nav-bar"></section>


<div class="container">

    <div class="row">
        <div class="col-md-10 offset-md-1">

            <form th:action="@{/users/create}" th:object="${user}" method="POST">
                <fieldset>
                    <legend>Nuevo Usuario</legend>

                    <div th:replace="users/user-form :: form(creation='true')"></div>

                </fieldset>
            </form>

        </div>

    </div>


    <footer th:replace="layout :: footer"></footer>

    <section th:replace="shared/go-back :: go-back"></section>

</div> <!-- container -->



</body>
</html>