p {
	font-size: 1.2rem;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: white;
    border-top: 0px solid rgba(0,0,0,0.125); 
    font-size: 1.1rem;
}

.card-block {
    padding: 1.25rem 1.25rem 0.25rem 1.25rem;
}

.star-selectable {
	cursor: pointer;
}


.ion-ios-star, .ion-ios-star-half {
	color: #fed031;
}

.ion-ios-star-outline {
    color: #444;
}

a {
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.icon {
    font-size: 1.4rem;
}

.icon-lg {
    font-size: 1.9rem;
}


.background-home {
    background-image: url('../img/bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-home h1 {
    color: white;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 85%);
}


.go-back:hover {
    cursor: pointer;
}

.exit-link {
    color: #f83b3b !important;
    font-weight: bold;
}


.navbar {
    background-color: #404040;
}

.navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: white;
}

.has-danger .form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #d9534f !important;
    box-shadow: inset 0 -2px 0 #d9534f !important;
}

.has-danger .form-control {
    -webkit-box-shadow: inset 0 -1px 0 #f26e6e !important;
    box-shadow: inset 0 -1px 0 #f26e6e !important;
}

.thead-inverse th {
    background-color: #404040;
}

.btn-secondary {
    background-color: #404040;
    color: white;
}

.btn-primary {
    background-color: #404040;
    color: white;
}