p {
	font-size: 1.2rem;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: white;
    border-top: 0px solid rgba(0,0,0,0.125); 
    font-size: 1.1rem;
}

.card-block {
    padding: 1.25rem 1.25rem 0.25rem 1.25rem;
}

.star-selectable {
	cursor: pointer;
}


.ion-ios-star, .ion-ios-star-half {
	color: #fed031;
}

.ion-ios-star-outline {
    color: #444;
}

a {
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.icon {
    font-size: 1.4rem;
}

.icon-lg {
    font-size: 1.9rem;
}