<!DOCTYPE html>
<html lang="es">
<head th:replace="layout :: head"></head>
<body>

<section th:replace="layout :: nav-bar"></section>



<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
        <li class="breadcrumb-item"><a href="#" >Visualizar</a></li>
        <li class="breadcrumb-item"><a href="#" th:text="${movie.title}"></a></li>
    </ol>

    <h2 th:text="${movie.title}"></h2>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" th:src="${movie.content_url}" allowfullscreen="true"></iframe>
    </div>


    <footer th:replace="layout :: footer"></footer>

    <section th:replace="shared/go-back :: go-back"></section>

</div> <!-- container -->


</body>
</html>