<!DOCTYPE html>
<html lang="es">
<head th:replace="layout :: head"></head>


<body>

	<section th:replace="layout :: nav-bar"></section>


	<div class="container">

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
			<li class="breadcrumb-item" th:text="${movie.title}"></li>
		</ol>

		<div class="jumbotron">
			<h3 th:text="${movie.title}"></h3>
			<h6 th:text="${movie.director}"></h6>

			<div class="row">
				<div class="col-md-4">
					<img class="img-fluid" th:src="${movie.poster_url}"/>
				</div>
				<div class="col-md-8">
					<section>
						<p class="text-justify lead" th:text="${movie.plot}"></p>
					</section>

					<hr style="border-top: 1.5px solid #dedede;"/>

					<section>
						<div class="row">
							<div class="col-md-4"><b>Género</b></div>
							<div class="col-md-8" th:text="${movie.genre}"></div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Director</b></div>
							<div class="col-md-8" th:text="${movie.director}"></div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Actores</b></div>
							<div class="col-md-8" th:text="${movie.actors}"></div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Año</b></div>
							<div class="col-md-8" th:text="${movie.year}"></div>
						</div>

						<div class="row">
							<div class="col-md-4"><b>Valoración</b></div>
							<div class="col-md-8">
								<i class="icon"  th:classappend="${movie.rating &lt; 0.5 ? 'ion-ios-star-half' : 'ion-ios-star'}" aria-hidden="true"></i>
								<i class="icon"  th:classappend="${movie.rating &gt; 1.5 ? 'ion-ios-star' : movie.rating &gt; 1 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
								<i class="icon"  th:classappend="${movie.rating &gt; 2.5 ? 'ion-ios-star' : movie.rating &gt; 2 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
								<i class="icon"  th:classappend="${movie.rating &gt; 3.5 ? 'ion-ios-star' : movie.rating &gt; 3 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
								<i class="icon"  th:classappend="${movie.rating &gt; 4.5 ? 'ion-ios-star' : movie.rating &gt; 4 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
							</div>
						</div>

					</section>
				</div>

			</div> <!-- row	 -->
		</div> <!-- jumbotron -->

		<div class="row" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<div class="col-md-4">
				<a th:href="@{ '/movies/' + ${movie.id} + '/display'}" class="btn btn-success btn-lg btn-block">
					<i class="icon-lg ion-ios-monitor-outline align-middle"  style="font-size: 1.9rem;"></i>
					Visualizar
				</a>
			</div>
			<div class="col-md-4">
				<a th:href="@{ '/movies/' + ${movie.id} + '/edit'}" class="btn btn-warning btn-lg btn-block">
					<i class="icon-lg ion-edit align-middle"  style="font-size: 1.9rem;"></i>
					Editar
				</a>
			</div>
			<div class="col-md-4">
				<a th:href="@{ '/movies/' + ${movie.id} + '/remove'}" class="btn btn-danger btn-lg btn-block">
					<i class="icon-lg ion-ios-close-outline align-middle" style="font-size: 1.9rem;"></i>
					Eliminar
				</a>
			</div>
		</div>

		<div class="row justify-content-center" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<div class="col-md-8">
				<a th:href="@{ '/movies/' + ${movie.id} + '/display'}" class="btn btn-success btn-lg btn-block">
					<i class="icon-lg ion-ios-monitor-outline align-middle"  style="font-size: 1.9rem;"></i>
					&nbsp;&nbsp;Ver película
				</a>
			</div>
		</div>


		<footer th:replace="layout :: footer"></footer>

		<section th:replace="shared/go-back :: go-back"></section>

	</div> <!-- container -->



</body>
</html>