<div id="movie-list" class="row" th:fragment="movie-list">
    <div class="col-md-3" th:each="movie : ${movies}">

        <a th:href="@{'/movies/' + ${movie.id} + '/show'}">

            <div class="card movie-card">
                <img class="card-img-top img-fluid" th:src="${movie.poster_url}" alt="Card image cap"/>
                <div class="card-block">
                    <h5 class="card-title" th:text="${movie.title}"></h5>
                    <small th:text="${movie.actors}"></small>
                </div>
                <div class="card-footer">
                    <i class="icon ion-ios-star" aria-hidden="true"></i>
                    <i class="icon ion-ios-star" aria-hidden="true"></i>
                    <i class="icon ion-ios-star" aria-hidden="true"></i>
                    <i class="icon ion-ios-star-half" aria-hidden="true"></i>
                    <i class="icon ion-ios-star-outline" aria-hidden="true"></i>
                </div>
            </div>

        </a>

    </div> <!-- col -->
</div> <!-- row -->