<div id="movie-list" class="row" th:fragment="movie-list">
    <div class="col-md-3" th:each="movie : ${movies}">

        <a th:href="@{'/movies/' + ${movie.id} + '/show'}">

            <div class="card">
                <img class="card-img-top img-fluid" th:src="${movie.poster_url}" alt="Card image cap"/>
                <div class="card-block">
                    <h5 class="card-title" th:text="${movie.title}"></h5>
                </div>
                <div class="card-footer">
                    <i class="icon"  th:classappend="${movie.rating &lt; 0.5 ? 'ion-ios-star-half' : 'ion-ios-star'}" aria-hidden="true"></i>
                    <i class="icon"  th:classappend="${movie.rating &gt; 1.5 ? 'ion-ios-star' : movie.rating &gt; 1 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
                    <i class="icon"  th:classappend="${movie.rating &gt; 2.5 ? 'ion-ios-star' : movie.rating &gt; 2 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
                    <i class="icon"  th:classappend="${movie.rating &gt; 3.5 ? 'ion-ios-star' : movie.rating &gt; 3 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
                    <i class="icon"  th:classappend="${movie.rating &gt; 4.5 ? 'ion-ios-star' : movie.rating &gt; 4 ? 'ion-ios-star-half' : 'ion-ios-star-outline' }" aria-hidden="true"></i>
                </div>
            </div>

        </a>

    </div> <!-- col -->
</div> <!-- row -->