
<span th:fragment="search-box">

    <div class="row">
      <div class="col-lg-6 offset-lg-3">

        <div class="input-group input-group-lg">
          <input id="movie-search-name" type="text" class="form-control" placeholder="Introduce el nombre de la película a buscar"/>
          <span class="input-group-btn">
            <button id="movie-search-go" class="btn btn-secondary" type="button">
                <i class="icon ion-ios-search-strong"></i>
                <!--Go!-->
            </button>
          </span>
        </div>

      </div>
    </div>

    <br/>

</span>