<!DOCTYPE html>
<html lang="es">
<head th:replace="layout :: head"></head>
<body>

<section th:replace="layout :: nav-bar"></section>


<div class="container">

    <!--Flash message http://viralpatel.net/blogs/spring-mvc-flash-attribute-example/ -->
    <div class="row">
        <div class="col-md-10 offset-md-1">

            <form th:action="@{/movies/store}" th:object="${movie}" method="POST">
                <fieldset>
                    <legend>Nueva Película</legend>

                    <div th:replace="movie-form :: form"></div>

                </fieldset>
            </form>

        </div>

    </div>

</div> <!-- container -->

</body>
</html>