<!DOCTYPE html>
<html lang="es">
<head th:replace="partials/head :: head">
	<title></title>
</head>
<body>
	<div class="container">
		<br/><br/>
		
		<div class="card-deck">
			<div class="card">
				<img class="card-img-top img-fluid" src="../assets/img/pirates.jpg" alt="Card image cap"/>
				<div class="card-block">
				  <h5 class="card-title">Pirates of the Caribbean: Dead men tell no tales</h5>
				</div>
				<div class="card-footer">
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star-half-o fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="../assets/img/pirates2.jpg" alt="Card image cap"/>
				<div class="card-block">
				  <h5 class="card-title">Pirates of the Caribbean: On stranger tides</h5>
				</div>
				<div class="card-footer">
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star-half-o fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="../assets/img/pirates3.jpg" alt="Card image cap"/>
				<div class="card-block">
					<h5 class="card-title">Pirates of the Caribbean: On stranger tides</h5>
				</div>
				<div class="card-footer">
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star-half-o fa-lg" style="color: #fed031" aria-hidden="true"></i>
					<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="../assets/img/pirates4.jpg" alt="Card image cap"/>
				<div class="card-block">
				  <h5 class="card-title">Pirates of the Caribbean: The course of the black pearl</h5>
				</div>
  				<div class="card-footer">
  					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
  					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
  					<i class="fa fa-star fa-lg" style="color: #fed031" aria-hidden="true"></i>
  					<i class="fa fa-star-half-o fa-lg" style="color: #fed031" aria-hidden="true"></i>
  					<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
  				</div>
			</div> 
		</div><!-- card-deck -->

	</div> <!-- container -->
</body>
</html>