<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="UTF-8"/>
	<title>DAW - Videoclub</title>

	<link rel="stylesheet" href="/css/bootstrap-v4.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<link rel="stylesheet" href="/css/login.css"/>

</head>

<body>


<div class="overlay">

	<section th:if="${param.error}">
		<div class="alert alert-dismissible alert-danger" role="alert">
			<!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
			<div class="text-center">¡Usuario o contraseña erróneos!</div>
		</div>
	</section>
	<section th:if="${param.logout}">
		<div class="alert alert-dismissible alert-info" role="alert">
			<!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
			<div class="text-center">Sesión cerrada correctamente</div>
		</div>
	</section>


	<div class="pen-title">
		<h1>DAW - Videoclub</h1>
	</div>
	<div class="container">
		<div class="card"></div>
		<div class="card">
			<h1 class="title">Login</h1>

			<form name="f" th:action="@{/login}" method="POST">
				<div class="input-container">
					<input type="text" name="username" required="required"/>
					<label for="username">Usuario</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" name="password" required="required"/>
					<label for="password">Contraseña</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<button type="submit"><span>Entrar</span></button>
				</div>
			</form>


		</div>

	</div>

</div>

</body>



</html>